{% extends "base.html" %}
{% block title_html %}Account List{% endblock title_html %}
{% block h1 %}アカウント一覧{% endblock h1 %}
{% block article_content %}
    <h2>&lt;{{ user.identifier }}&gt;がログイン中です。</h2>
    <div><a href="{% url "logout" %}">Logout</a></div>
    <br />
    <div><a href="{% url "account_new" %}">新規登録</a></div>
    <br />
    <table border="1">
        <tr>
            <th>Identifier</th><th>親Admin</th><th>親Agency</th>
            <th>会社</th><th>担当者</th><th>住所</th><th>Email</th>
            <th>TEL</th><th>ステータス</th>
        </tr>
        {% for acc in acc_list %}
        <tr>
            <td><a href="{% url "account_edit" acctypeid=acc.acc_type_id userid=acc.user_id %}">{{ acc.identifier }}</a></td>
            <td>{{ acc.parent_admin_id }}</td>
            <td>{{ acc.parent_agency_id }}</td>
            <td>{{ acc.enterprise }}</td>
            <td>{{ acc.person }}</td>
            <td>{{ acc.address }}</td>
            <td>{{ acc.email }}</td>
            <td>{{ acc.phone_number }}</td>
            <td><a href="{% url "account_edit_status" acc.acc_type_id acc.user_id %}">{{ acc.user_running }}</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock article_content %}
