{% extends "base2.html" %}
{% block title_html %}Account List{% endblock title_html %}
{% block h1 %}アカウント一覧{% endblock h1 %}
{% block button %}<button class="entryBtn btn btn-small" onclick="location.href='{% url "account_new" %}'">新規登録</button>{% endblock %}
{% block article_content %}
    <br />
    <br />
    <!-- <table border="1"> -->
    <table class="table table-list table-striped table-bordered table-condensed">
        <tr>
            <th>Identifier</th><th>親Admin</th><th>親Agency</th>
            <th>会社</th><th>担当者</th><th>住所</th><th>Email</th>
            <th>TEL</th><th>ステータス</th>
        </tr>
        {% for acc in accs %}
        <tr>
            <td><a href="{% url "account_edit" acctypeid=acc.acc_type_id userid=acc.user_id %}">{{ acc.identifier }}</a></td>
            <td>{{ acc.parent_admin_id }}</td>
            <td>{{ acc.parent_agency_id }}</td>
            <td>{{ acc.enterprise }}</td>
            <td>{{ acc.person }}</td>
            <td>{{ acc.address }}</td>
            <td>{{ acc.email }}</td>
            <td>{{ acc.phone_number }}</td>
            <td><a href="{% url "account_edit_status" acc.acc_type_id acc.user_id %}">{{ acc.user_running }}</a></td>
        </tr>
        {% endfor %}
    </table>

    <div class="pagination">
    <ul>
        <li>{% if accs.has_previous %}
                <a href="?page={{ accs.previous_page_number }}">Previous</a>
            {% endif %}
        </li>

        {% for c in loop %}
            {% if forloop.counter == accs.number %}
                <li class="active"><a href="#">{{ accs.number }}</a></li>
            {% else %}
            <li><a href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
            {% endif %}
        {% endfor %}

        <li>{% if accs.has_next %}
                <a href="?page={{ accs.next_page_number }}">Next</a>
            {% endif %}
        </li>
    </ul>
    </div>

    <!--
    <div class="pagination">
        <span class="step-links">
            {% if accs.has_previous %}
                <a href="?page={{ accs.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ accs.number }} of {{ accs.paginator.num_pages }}.
            </span>

            {% if accs.has_next %}
                <a href="?page={{ accs.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
     -->
{% endblock article_content %}
