{% extends "base2.html" %}
{% block h1 %}アカウント編集{% endblock h1 %}
{% block button %}
    {% if user.acc_type_id == acctypeid and user.user_id == userid %}
        <button class="entryBtn btn btn-small btn-warning" onclick="location.href='/account/edit_pw/{{ acctypeid }}/{{ userid }}'">パスワード変更</button>
    {% endif%}
{% endblock %}
{% block breadcrumb %}アカウント編集{% endblock %}
{% block article_content %}

    <form method="post" action="{% url "account_edit" acctypeid=acctypeid userid=userid %}" class="form-horizontal">
        <div class="control-group">
        <label for="input01" class="control-label">アカウントタイプ</label>
        <div class="controls"><input type="text" name="category" value="{{ acctypeid }}" disabled="disabled"></div>

        <label for="input01" class="control-label">ユーザーID</label>
        <div class="controls"><input type="text" name="category" value="{{ userid }}" disabled="disabled"></div>
        </div>
        <br />

        {% csrf_token %}
        <!-- This line inserts a CSRF token. -->

        <table align="center" class="table-list table-condensed">
            {% for field in form %}
                <tr>
                    {% if field.errors %}
                        <div class="alert alert-danger alert-dismissable">
                            <a class="close" data-dismiss="alert" href="#">&times;</a>
                            <h4>警告 !</h4>
                            <p>{{ field.errors }}</p>
                        </div>
                    {% endif %}
                    <th>{{ field.label_tag }} {{ field.errors }}</th><td>{{ field }}</td>
                </tr>
            {% endfor %}
        </table>

        <!-- <table class="table table-list table-striped table-bordered table-condensed"> -->
        <!--
        <table align="center" class="table-list table-condensed">
            {{ form.as_table }}
        </table>
         -->

        <div class="form-actions">
        <div class="tac">
        <button class="btn btn-primary btn-large" type="submit">更新する</button>
        </div>
        </div>
    </form>


    <br />
    <hr>
    {% if acctypeid == 3 %}

    <h2>契約情報<a class="entryBtn btn btn-danger btn-small" href="{% if user.acc_type_id == 3 %}javascript:void(0){% else %}{% url "contract_new" userid %}{% endif %}" disabled="{% if user.acc_type_id == 3 %}disabled{% endif %}">新規契約</a></h2>
        {% if cont_list %}
            <table class="table table-list table-striped table-bordered table-condensed">
                <tr>
                    <th>契約番号</th><th>契約日</th><th>契約解除日</th>
                    <th>マーカー画像</th><th>契約編集</th><th>画像登録</th>
                </tr>
                {% for cont in cont_list %}
                <tr>
                    <td>{{ cont.contract_no }}</a></td>
                    <td>{{ cont.open_from }}</td>
                    <td>{{ cont.open_to }}</td>
                    <td>{% if cont.image %}<img src="{{ cont.image.url }}" width="50" height="50">{% endif %}</td>

                    <td class="tac nowrap"><button  type="button" class="btn btn-small btn-primary" {% if user.acc_type_id == 3 %}disabled="disabled"{% else %}onclick="location.href='/contract/edit/{{ cont.contract_no }}'"{% endif %}>契約編集</button></td>

                    {% if cont.target_id %}
                    <td class="tac nowrap"><button type="button" class="btn btn-small btn-info" {% if user.acc_type_id == 3 %}disabled="disabled"{% else %}onclick="location.href='/content/edit/{{ cont.contract_no }}'"{% endif %}>画像編集</button>
                    {% else %}
                    <td class="tac nowrap"><button type="button" class="btn btn-small btn-warning" {% if user.acc_type_id == 3 %}disabled="disabled"{% else %}onclick="location.href='/content/new/{{ cont.contract_no }}'"{% endif %}>画像登録</button>
                    {% endif %}

                </tr>
                {% endfor %}
            </table>
        {% endif %}
    {% endif %}
{% endblock article_content %}
