{% extends "base2.html" %}
{% block h1 %}パスワード変更{% endblock h1 %}
{% block button %}
{% endblock %}
{% block breadcrumb %}アカウント編集<li><span class="divider">&gt;</span>パスワード変更</li>{% endblock %}
{% block article_content %}
    <div>
        アカウントタイプ:{{ acctypeid }}<br/>
        ユーザーID: {{ userid }}
    </div>
    <form method="post" action="{% url "account_edit_pw" acctypeid=acctypeid userid=userid %}" class="form-horizontal">

        {% csrf_token %}
        <!-- This line inserts a CSRF token. -->
        <!-- <table class="table table-list table-striped table-bordered table-condensed"> -->
        <table align="center" class="table-list table-condensed">
            {{ form.as_table }}
            <!-- This line displays lines of the form. -->
        </table>
        <div class="form-actions">
        <div class="tac">
        <button class="btn btn-primary btn-large" type="submit">変更する</button>
        </div>
        </div>
    </form>
{% endblock article_content %}
