{% extends "base2.html" %}
{% block h1 %}アカウント編集{% endblock h1 %}
{% block button %}<button class="entryBtn btn btn-small" onClick="javascript:history.go(-1);">戻る</button>{% endblock %}
{% block article_content %}
    <form method="post" action="{% url "account_edit" acctypeid=acctypeid userid=userid %}" class="form-horizontal">
        <div class="control-group">
        <label for="input01" class="control-label">アカウントタイプ</label>
        <div class="controls"><input type="text" name="category" value="{{ acctypeid }}" disabled="disabled"></div>

        <label for="input01" class="control-label">ユーザーID</label>
        <div class="controls"><input type="text" name="category" value="{{ userid }}" disabled="disabled"></div>
        </div>
        <br />

        {% csrf_token %}
        <!-- This line inserts a CSRF token. -->
        <!-- <table class="table table-list table-striped table-bordered table-condensed"> -->
        <table align="center" class="table-list table-condensed">
            {{ form.as_table }}
            <!-- This line displays lines of the form. -->
        </table>
        <div class="form-actions">
        <div class="tac">
        <button class="btn btn-primary btn-large" type="submit">更新する</button>
        </div>
        </div>
    </form>

    {% if user.acc_type_id == acctypeid and user.user_id == userid %}
        <div><a href="{% url "account_edit_pw" acctypeid=acctypeid  userid=userid  %}">パスワード変更</a><div>
    {% endif%}

    <br />
    <hr>
    {% if acctypeid == 3 %}

        <h2>契約情報<a class="entryBtn btn btn-danger btn-small" href="{% url "contract_new" userid %}">新規契約</a></h2>
        {% if cont_list %}
            <table class="table table-list table-striped table-bordered table-condensed">
                <tr>
                    <th>契約番号</th><th>契約日</th><th>契約解除日</th>
                    <th>マーカー画像</th><th>契約編集</th><th>画像登録</th>
                </tr>
                {% for cont in cont_list %}
                <tr>
                    <td>gmr-{{ cont.contract_no }}</a></td>
                    <td>{{ cont.open_from }}</td>
                    <td>{{ cont.open_to }}</td>
                    <td>{% if cont.image %}<img src="{{ cont.image.url }}" width="50" height="50">{% endif %}</td>
                    <td><a href="{% url "contract_edit" cont.contract_no %}">編集</a></td>
                    {% if cont.target_id %}
                        <td><a href="{% url "content_edit" cont.contract_no %}">編集</a></td>
                    {% else %}
                        <td><a href="{% url "content_new" cont.contract_no %}">登録</a></td>
                    {% endif %}

                </tr>
                {% endfor %}
            </table>
        {% endif %}
    {% endif %}
{% endblock article_content %}
