<html>
 <head>
     <title>{% block title_html %}{% endblock %}</title>
     {% load staticfiles %}
     <link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" />
     <script src="{% static 'javascript/lib/jquery-1.11.1.js' %}"></script>
     {% block head %}{% endblock head%}
 </head>
 <body>
     <h1>
         マーカー一覧 - {% block h1 %}{% endblock %}
     </h1>
     <h2><a href="{% url "logout" %}">Logout</a></h2>
     <article>
         {% block article_content %}{% endblock %}
     </article>
 </body>
 </html>
