<html>
 <head>
     <title>{% block title_html %}{% endblock %}</title>
     {% load staticfiles %}
     <link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" />
     <script src="{% static 'javascript/lib/jquery-1.11.1.js' %}"></script>
     {% block head %}{% endblock head%}
 </head>
 <body>
     <h1>
         {% block h1 %}{% endblock %}
     </h1>
     <h2>{% include "sidebar.html" %}</h2>
     <article>
         {% block article_content %}{% endblock %}
     </article>
 </body>
 </html>
