{% extends "base2.html" %}
{% block h1 %}マーカー編集{% endblock h1 %}
{% block button %}
    <button class="entryBtn btn btn-small" onClick="javascript:history.go(-1);">戻る</button>
{% endblock %}
{% block breadcrumb %}マーカー編集{% endblock %}
{% block article_content %}
    {% if error_message %}
        <div class="alert alert-danger alert-dismissable">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <h4>{{ error_message }}</h4>
        </div>
    {% endif %}

    {% for field in form %}
        {% if field.errors %}
            <div class="alert alert-danger alert-dismissable">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                <h4>警告 !</h4>
                <p>{{ field.errors }}</p>
            </div>
        {% endif %}
    {% endfor %}

    <div style="text-align: center;">
    <p>企業名: {{ company.enterprise }}</p>
    <p>CID: {{ company.user_id }}</p>
    <p>契約番号: {{ contractno }}</p>
    {% load extras %}
    <p class="cImg">
        <img src='{{ MEDIA_URL }}/images300/{{ content.image.name|filename }}' />
    </p>
    </div>

    <!-- <form method="post" action="{% url "content_edit" contractno %}" enctype="multipart/form-data" class="form-horizontal"> -->
    <form method="post" action="{% url "content_edit" contractno %}" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- This line inserts a CSRF token. -->
        <!-- <table class="table table-list table-striped table-bordered table-condensed"> -->

        <table align="center" class="table-list table-condensed">
        {% for field in form %}
            <tr>
        <!-- <div align="center" class="fieldWrapper"> -->
                <th>{{ field.label_tag }} {{ field.errors }}</th><td>{{ field }}</td>
            </tr>
        {% endfor %}
        </table>

        <div class="form-actions">
        <div class="tac">
        <button class="btn btn-primary btn-large" type="submit">更新</button>
        </div>
        </div>
    </form>
{% endblock article_content %}
