{% extends "base.html" %}
{% block h1 %}マーカー新規登録{% endblock h1 %}
{% block article_content %}
    <h2>&lt;{{ user.identifier }}&gt;がログイン中です。</h2>
    <h3><a href="{% url "logout" %}">Logout</a></h3>
    <div><button onClick="javascript:history.go(-1);">戻る</button></div>
    <br />

    <p>企業名: {{ company.enterprise }}</p>
    <p>Company ID: {{ company.user_id }}</p>
    <p>契約番号: {{ contractno }}</p>
    <br />

    <form method="post" action="{% url "content_new" contractno %}" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- This line inserts a CSRF token. -->
        <table border="1">
            {{ form.as_table }}
            <!-- This line displays lines of the form. -->
        </table>
        <p><input type="submit" value="新規登録" /></p>
    </form>
{% endblock article_content %}
