{% extends "base2.html" %}
{% block h1 %}契約新規登録{% endblock h1 %}
{% block button %}
    <button class="entryBtn btn btn-small" onClick="javascript:history.go(-1);">戻る</button>
{% endblock %}
{% block breadcrumb %}マーカー新規登録{% endblock %}
{% block article_content %}
    {% if error_message %}
    <h3 class="error">{{ error_message }}</h3>
    {% endif %}

    <form method="post" action="{% url "contract_new" companyid %}" class="form-horizontal">
        {% csrf_token %}
        <!-- This line inserts a CSRF token. -->
        <table border="1">
            {{ form.as_table }}
            <!-- This line displays lines of the form. -->
        </table>
        <div class="form-actions">
        <div class="tac">
        <button class="btn btn-primary btn-large" type="submit">新規登録</button>
        </div>
        </div>
    </form>
{% endblock article_content %}
