{% extends "base.html" %}
{% block h1 %}コンテンツ一覧{% endblock h1 %}
{% block article_content %}
    <h2>&lt;{{ user.identifier }}&gt;がログイン中です。</h2>
    <h3><a href="{% url "logout" %}">Logout</a></h3>
    <table border="1">
        <tr>
            <th>契約番号</th><th>CompanyID</th><th>マーカー</th><th>タイトル</th>
            <th>ターゲットID</th><th>マッピングURL</th><th>認識率</th>
            <th>公開期間</th><th>編集</th><th>公開フラグ</th>
        </tr>
        {% for content in content_list %}
        <tr>
            <td>{{ content.contract_no }}</td>
            <td>{{ content.company.user_id }}</td>
            <td>{% if content.image %}<img src="{{ content.image.url }}" width="50" height="50">{% endif %}</td>
            <td>{{ content.title }}</td>
            <td>{{ content.target_id }}</td>
            <td>{{ content.mapping_url }}</td>
            <td>{{ content.recognition }}</td>
            <td>{{ content.open_from }} - {{ content.open_to }}</td>
            <td>
                {% if content.target_id %}
                    <a href="{% url "content_edit" content.contract_no %}">
                            編集
                    </a>
                {% else %}
                    <a href="{% url "content_new" content.contract_no %}">
                            登録
                    </a>
                {% endif %}
            </td>
            <td><a href="{% url "content_edit_open" content.contract_no %}">{{ content.is_open }}</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock article_content %}
