{% extends "base2.html" %}
{% block h1 %}契約編集{% endblock h1 %}
{% block button %}
    <button class="entryBtn btn btn-small" onClick="javascript:history.go(-1);">戻る</button>
{% endblock %}
{% block breadcrumb %}契約編集{% endblock %}
{% block article_content %}
    {% if error_message %}
    <h3 class="error">{{ error_message }}</h3>
    {% endif %}

    <table border="1">
        <tr>
            <th>契約番号</th><th>契約日</th>
        </tr>
        <tr>
            <td>gmr-{{ content.contract_no }}</td>
            <td>{{ content.contracted_at }}</td>
        </tr>
    </table>
    <form method="post" action="{% url "contract_edit" content.contract_no %}" class="form-horizontal">
        {% csrf_token %}
        <!-- This line inserts a CSRF token. -->
        <table border="1">
            {{ form.as_table }}
            <!-- This line displays lines of the form. -->
        </table>
        <div class="form-actions">
        <div class="tac">
        <button class="btn btn-primary btn-large" type="submit">契約解除</button>
        </div>
        </div>
    </form>
{% endblock article_content %}
