{% extends "base2.html" %}
{% block h1 %}マーカー新規登録{% endblock h1 %}
{% block button %}
    <button class="entryBtn btn btn-small" onClick="javascript:history.go(-1);">戻る</button>
{% endblock %}
{% block breadcrumb %}マーカー新規登録{% endblock %}
{% block article_content %}
    {% if error_message %}
    <h3 class="error">{{ error_message }}</h3>
    {% endif %}

    <div style="text-align: center;">
    <p>企業名: {{ company.enterprise }}</p>
    <p>CID: {{ company.user_id }}</p>
    <p>契約番号: {{ contractno }}</p>
    </div>

    <form method="post" action="{% url "content_new" contractno %}" enctype="multipart/form-data" class="form-horizontal">
        {% csrf_token %}
        <!-- This line inserts a CSRF token. -->
        <!-- <table class="table table-list table-striped table-bordered table-condensed"> -->
        <table align="center" class="table-list table-condensed">
            {{ form.as_table }}
            <!-- This line displays lines of the form. -->
        </table>
        <div class="form-actions">
        <div class="tac">
        <button class="btn btn-primary btn-large" type="submit">登録</button>
        </div>
        </div>
    </form>
{% endblock article_content %}
